TZ=UTC
PORT=3333
HOST=localhost
API_PREFIX=/api/v0
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_HOST=localhost
DB_PORT=4444
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=postgres
SESSION_DRIVER=memory
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=
SMTP_PASSWORD=
FRONTEND_URL=http://localhost:4200